nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 3rem;
  border-bottom: 1px solid #666666;
  gap: 2rem;
}

.wordmark {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  color: black;
  text-decoration: none;
}

.wordmark img {
  height: 1.75rem;
}

.wordmark span {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin-top: 0.15rem;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.75rem;
}

.search-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem;
  border-radius: 0.25rem;
  border: 0px;
}

.search {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.1) -1px 2px 4px 0px;
  border-radius: 0.25rem;
  max-width: 24rem;
  width: 100%;
}

.search:focus {
  outline: 0px;
  border: 1px solid black;
}

.search-btn {
  box-shadow: rgba(0, 0, 0, 0.1) -1px 2px 1px 0px;
  border: 1px solid black;
}

.search-btn:hover {
  cursor: pointer;
}

.cta-register a {
  padding: 0.5rem 1.25rem;
  border: 0px;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #6e5a8a;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.cta-register a:hover {
  cursor: pointer;
}

@media screen and (max-width: 512px) {
  nav {
    padding: 1rem;
  }
}
